@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

/* AJUSTES GENERALES */

.appContainer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Grandstander", cursive;
  color: white;
  text-shadow: 1px 1px 3px gray;
  background-image: linear-gradient(160deg, #24c3f7 0%, #4773e7 100%);
  border-radius: 18px;
  width: 600px;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4, (calc(width / 4)));
  grid-template-rows: repeat(3, 50px);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.537);
  overflow: hidden;
}

/* AJUSTES LOGO E IMAGEN DE NIÑO */

.idContainer {
  grid-column: 1 / 2;
  grid-row: 1/ 3;
  display: flex;
  justify-content: flex-start;
  height: inherit;
}

.logo {
  height: inherit;
  position: relative;
  z-index: 1;
  left: 3%;
}

.kid {
  height: inherit;
  position: relative;
  left: -6%;
}

/* AJUSTES BLOQ TEMPORIZADOR */

.tempContainer {
  width: 70%;
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1fr;
  position: relative;
  left: 8%;
}

.banner {
  grid-row: 1 / 2;
  width: 100%;
  position: relative;
  top: 12%;
  left: 4%;
}

.counterContainer {
  grid-row: 2 / 3;
  width: 110%;
  height: 100%;
  position: relative;
  left: 6%;
}


/* AJUSTES ENLACE INSCRIPCIÓN */

.zelda {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  font-size: 120%;
  width: 70%;
  padding: 0 4%;
  justify-content: center;
  align-content: center;
  border: solid #FF8600 5px;
  border-radius: 20px;
  position: relative;
  left: 8%;
}

.zelda:hover {
  background-color: white;
  box-shadow: 10px 10px 85px 0px rgba(255, 249, 158, 1);
}

.zelda a {
  text-decoration: none;
  text-shadow: 1px 1px 2px rgb(126, 111, 60);
  color: #FF8600;
}


.zelda a:visited {
  text-decoration: none;
  color: #FF8600;
  text-shadow: 1px 1px 2px rgb(126, 111, 60);

}

/* CONFIGURACIÓN LOGOS PATROCINADORES */

.patreonContainer {
  grid-column: 2 / 5;
  grid-row: 3 / 4;
  width: 100%;
  margin: 0;
  position: relative;
  top: 10%;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logos1 {
  width: 65%;
  margin: 0;
  padding-left: 2%;
  gap: 10px;
}

.sliderContainer {
  width: 100%;
  margin: 0;
}





/* AJUSTES RESPONSIVE */

@media (max-width:500px) {

  /* AJUSTES LOGO E IMAGEN DE NIÑO */

  .App {
    width: 300px;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(3, 50px);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.537);
    overflow: hidden;
  }

  .idContainer {
    grid-column: 1 / 2;
    grid-row: 1/ 3;
    display: flex;
    justify-content: flex-start;
    height: 100px;
    position: relative;
    top: 5%;
  }

  .logo {
    height: inherit;
    position: relative;
    z-index: 1;
    left: 1.5%;
  }

  .kid {
    height: inherit;
    position: relative;
    left: -10%;
  }

  /* AJUSTES BLOQ TEMPORIZADOR */

  .tempContainer {
    width: 70%;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    left: 20%;
  }

  .banner {
    width: 0%;
  }

  .counterContainer {
    width: 100%;
    height: 100%;
    position: relative;
    left: -10%;
    top: 5%;
  }

  /* AJUSTES ENLACE INSCRIPCIÓN */

  .zelda {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 80%;
    width: 70%;
    padding: 0 4%;
    justify-content: center;
    align-content: center;
    border: solid #FF8600 5px;
    border-radius: 20px;
    position: relative;
    top: 15%;
    left: 8%;
  }

  /* CONFIGURACIÓN LOGOS PATROCINADORES */

  .patreonContainer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    position: relative;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 0;
  }

  .logos1 {
    width: 65%;
    margin: 0;
    padding-left: 2%;
    gap: 10px;
  }

  .sliderContainer {
    width: 30%;
    margin: 0;
  }
}